absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.1.0
aniso8601==9.0.1
anyio==3.6.2
appdirs==1.4.4
appnope==0.1.3
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
bidict==0.22.1
bleach==6.1.0
blinker==1.6.2
blis==0.7.8
bokeh==3.3.4
branca==0.7.1
breadability==0.1.20
bs4==0.0.1
cached-property==1.5.2
cachetools==5.3.1
catalogue==2.0.8
certifi==2024.2.2
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
chex==0.1.7
click==8.1.3
cloudpathlib==0.16.0
confection==0.0.4
contourpy==1.1.0
convertapi==1.6.0
cryptography==40.0.2
cvzone==1.6.1
cycler==0.11.0
cymem==2.0.7
dash==2.10.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.6.4
DateTime==5.1
decorator==5.1.1
distro==1.9.0
dm-tree==0.1.8
docopt==0.6.2
docutils==0.20.1
docx==0.2.4
dotenv==0.0.5
easyocr==1.7.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl#sha256=0964370218b7e1672a30ac50d72cdc6b16f7c867496f1d60925691188f4d2510
entrypoints==0.4
etils==1.3.0
executing==1.2.0
fastapi==0.95.1
filelock==3.12.0
Flask==2.3.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.0.3
flatbuffers==23.5.26
flax==0.6.10
folium==0.16.0
fonttools==4.42.0
frozenlist==1.3.3
fs==2.4.16
fsspec==2023.5.0
future==0.18.3
gast==0.4.0
gensim==4.3.1
geocoder==1.38.1
gitdb==4.0.10
GitPython==3.1.31
google==3.0.0
google-auth==2.19.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googlesearch-python==1.2.3
grpcio==1.53.0
grpcio-tools==1.53.0
gTTS==2.3.2
h11==0.14.0
h5py==3.8.0
HandTrackingModule==0.2
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.14.1
hume==0.4.1
idna==3.4
imageio==2.36.0
importlib-metadata==6.6.0
importlib-resources==5.12.0
ipython==8.13.2
iso8601==2.1.0
itsdangerous==2.1.2
jax==0.4.10
jaxlib==0.4.10
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.17.3
kaleido==0.2.1
keras==2.13.1rc0
keras-models==0.0.7
kiwisolver==1.4.4
langchain==0.1.10
langchain-community==0.0.25
langchain-core==0.1.28
langchain-text-splitters==0.0.1
langcodes==3.3.0
langsmith==0.1.14
lazy_loader==0.4
libclang==16.0.0
linkify-it-py==2.0.3
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.21.0
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mediapipe==0.10.3
ml-dtypes==0.1.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
murmurhash==1.0.9
mypy-extensions==1.0.0
nest-asyncio==1.5.6
networkx==3.1
ninja==1.11.1.1
nltk==3.8.1
numpy==1.24.3
oauthlib==3.2.2
openai==1.13.3
opencage==2.4.0
opencv-contrib-python==4.8.0.74
opencv-python==4.7.0.72
opencv-python-headless==4.10.0.84
opt-einsum==3.3.0
optax==0.1.5
orbax-checkpoint==0.2.3
orjson==3.9.15
packaging==23.1
pandas==2.0.1
panel==1.3.8
param==2.0.2
parso==0.8.3
pathlib==1.0.1
pathy==0.10.1
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.9.0
pexpect==4.8.0
phonenumbers==8.13.31
pickleshare==0.7.5
Pillow==9.5.0
plotly==5.14.1
preshed==3.0.8
prompt-toolkit==3.0.38
protobuf==3.20.3
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyclipper==1.3.0.post6
pycountry==22.3.5
pycparser==2.21
pydantic==1.10.8
pydeck==0.8.1b0
pydub==0.25.1
pygame==2.1.3.dev8
Pygments==2.15.1
Pympler==1.0.1
pyobjc==9.1.1
pyobjc-core==9.1.1
pyobjc-framework-Accessibility==9.1.1
pyobjc-framework-Accounts==9.1.1
pyobjc-framework-AddressBook==9.1.1
pyobjc-framework-AdServices==9.1.1
pyobjc-framework-AdSupport==9.1.1
pyobjc-framework-AppleScriptKit==9.1.1
pyobjc-framework-AppleScriptObjC==9.1.1
pyobjc-framework-ApplicationServices==9.1.1
pyobjc-framework-AppTrackingTransparency==9.1.1
pyobjc-framework-AudioVideoBridging==9.1.1
pyobjc-framework-AuthenticationServices==9.1.1
pyobjc-framework-AutomaticAssessmentConfiguration==9.1.1
pyobjc-framework-Automator==9.1.1
pyobjc-framework-AVFoundation==9.1.1
pyobjc-framework-AVKit==9.1.1
pyobjc-framework-AVRouting==9.1.1
pyobjc-framework-BackgroundAssets==9.1.1
pyobjc-framework-BusinessChat==9.1.1
pyobjc-framework-CalendarStore==9.1.1
pyobjc-framework-CallKit==9.1.1
pyobjc-framework-CFNetwork==9.1.1
pyobjc-framework-ClassKit==9.1.1
pyobjc-framework-CloudKit==9.1.1
pyobjc-framework-Cocoa==9.1.1
pyobjc-framework-Collaboration==9.1.1
pyobjc-framework-ColorSync==9.1.1
pyobjc-framework-Contacts==9.1.1
pyobjc-framework-ContactsUI==9.1.1
pyobjc-framework-CoreAudio==9.1.1
pyobjc-framework-CoreAudioKit==9.1.1
pyobjc-framework-CoreBluetooth==9.1.1
pyobjc-framework-CoreData==9.1.1
pyobjc-framework-CoreHaptics==9.1.1
pyobjc-framework-CoreLocation==9.1.1
pyobjc-framework-CoreMedia==9.1.1
pyobjc-framework-CoreMediaIO==9.1.1
pyobjc-framework-CoreMIDI==9.1.1
pyobjc-framework-CoreML==9.1.1
pyobjc-framework-CoreMotion==9.1.1
pyobjc-framework-CoreServices==9.1.1
pyobjc-framework-CoreSpotlight==9.1.1
pyobjc-framework-CoreText==9.1.1
pyobjc-framework-CoreWLAN==9.1.1
pyobjc-framework-CryptoTokenKit==9.1.1
pyobjc-framework-DataDetection==9.1.1
pyobjc-framework-DeviceCheck==9.1.1
pyobjc-framework-DictionaryServices==9.1.1
pyobjc-framework-DiscRecording==9.1.1
pyobjc-framework-DiscRecordingUI==9.1.1
pyobjc-framework-DiskArbitration==9.1.1
pyobjc-framework-DVDPlayback==9.1.1
pyobjc-framework-EventKit==9.1.1
pyobjc-framework-ExceptionHandling==9.1.1
pyobjc-framework-ExecutionPolicy==9.1.1
pyobjc-framework-ExtensionKit==9.1.1
pyobjc-framework-ExternalAccessory==9.1.1
pyobjc-framework-FileProvider==9.1.1
pyobjc-framework-FileProviderUI==9.1.1
pyobjc-framework-FinderSync==9.1.1
pyobjc-framework-FSEvents==9.1.1
pyobjc-framework-GameCenter==9.1.1
pyobjc-framework-GameController==9.1.1
pyobjc-framework-GameKit==9.1.1
pyobjc-framework-GameplayKit==9.1.1
pyobjc-framework-HealthKit==9.1.1
pyobjc-framework-ImageCaptureCore==9.1.1
pyobjc-framework-IMServicePlugIn==9.1.1
pyobjc-framework-InputMethodKit==9.1.1
pyobjc-framework-InstallerPlugins==9.1.1
pyobjc-framework-InstantMessage==9.1.1
pyobjc-framework-Intents==9.1.1
pyobjc-framework-IntentsUI==9.1.1
pyobjc-framework-IOBluetooth==9.1.1
pyobjc-framework-IOBluetoothUI==9.1.1
pyobjc-framework-IOSurface==9.1.1
pyobjc-framework-iTunesLibrary==9.1.1
pyobjc-framework-KernelManagement==9.1.1
pyobjc-framework-LatentSemanticMapping==9.1.1
pyobjc-framework-LaunchServices==9.1.1
pyobjc-framework-libdispatch==9.1.1
pyobjc-framework-libxpc==9.1.1
pyobjc-framework-LinkPresentation==9.1.1
pyobjc-framework-LocalAuthentication==9.1.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==9.1.1
pyobjc-framework-MailKit==9.1.1
pyobjc-framework-MapKit==9.1.1
pyobjc-framework-MediaAccessibility==9.1.1
pyobjc-framework-MediaLibrary==9.1.1
pyobjc-framework-MediaPlayer==9.1.1
pyobjc-framework-MediaToolbox==9.1.1
pyobjc-framework-Metal==9.1.1
pyobjc-framework-MetalFX==9.1.1
pyobjc-framework-MetalKit==9.1.1
pyobjc-framework-MetalPerformanceShaders==9.1.1
pyobjc-framework-MetalPerformanceShadersGraph==9.1.1
pyobjc-framework-MetricKit==9.1.1
pyobjc-framework-MLCompute==9.1.1
pyobjc-framework-ModelIO==9.1.1
pyobjc-framework-MultipeerConnectivity==9.1.1
pyobjc-framework-NaturalLanguage==9.1.1
pyobjc-framework-NetFS==9.1.1
pyobjc-framework-Network==9.1.1
pyobjc-framework-NetworkExtension==9.1.1
pyobjc-framework-NotificationCenter==9.1.1
pyobjc-framework-OpenDirectory==9.1.1
pyobjc-framework-OSAKit==9.1.1
pyobjc-framework-OSLog==9.1.1
pyobjc-framework-PassKit==9.1.1
pyobjc-framework-PencilKit==9.1.1
pyobjc-framework-PHASE==9.1.1
pyobjc-framework-Photos==9.1.1
pyobjc-framework-PhotosUI==9.1.1
pyobjc-framework-PreferencePanes==9.1.1
pyobjc-framework-PushKit==9.1.1
pyobjc-framework-Quartz==9.1.1
pyobjc-framework-QuickLookThumbnailing==9.1.1
pyobjc-framework-ReplayKit==9.1.1
pyobjc-framework-SafariServices==9.1.1
pyobjc-framework-SafetyKit==9.1.1
pyobjc-framework-SceneKit==9.1.1
pyobjc-framework-ScreenCaptureKit==9.1.1
pyobjc-framework-ScreenSaver==9.1.1
pyobjc-framework-ScreenTime==9.1.1
pyobjc-framework-ScriptingBridge==9.1.1
pyobjc-framework-SearchKit==9.1.1
pyobjc-framework-Security==9.1.1
pyobjc-framework-SecurityFoundation==9.1.1
pyobjc-framework-SecurityInterface==9.1.1
pyobjc-framework-ServiceManagement==9.1.1
pyobjc-framework-SharedWithYou==9.1.1
pyobjc-framework-SharedWithYouCore==9.1.1
pyobjc-framework-ShazamKit==9.1.1
pyobjc-framework-Social==9.1.1
pyobjc-framework-SoundAnalysis==9.1.1
pyobjc-framework-Speech==9.1.1
pyobjc-framework-SpriteKit==9.1.1
pyobjc-framework-StoreKit==9.1.1
pyobjc-framework-SyncServices==9.1.1
pyobjc-framework-SystemConfiguration==9.1.1
pyobjc-framework-SystemExtensions==9.1.1
pyobjc-framework-ThreadNetwork==9.1.1
pyobjc-framework-UniformTypeIdentifiers==9.1.1
pyobjc-framework-UserNotifications==9.1.1
pyobjc-framework-UserNotificationsUI==9.1.1
pyobjc-framework-VideoSubscriberAccount==9.1.1
pyobjc-framework-VideoToolbox==9.1.1
pyobjc-framework-Virtualization==9.1.1
pyobjc-framework-Vision==9.1.1
pyobjc-framework-WebKit==9.1.1
pyparsing==3.0.9
PyPDF2==3.0.1
pyrsistent==0.19.3
pyserial==3.5
pysrt==1.1.2
pytesseract==0.3.10
python-bidi==0.6.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.8.0
python-socketio==5.10.0
pyttsx3==2.90
pytube==12.1.3
pytz==2023.3
pyviz_comms==3.0.1
PyYAML==6.0
ratelim==0.1.6
regex==2023.5.5
reportlab==4.0.8
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.3.5
rsa==4.9
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.10.1
seaborn==0.13.0
serial==0.0.97
shapely==2.0.6
simple-websocket==1.0.0
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.4.1
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SpeechRecognition==3.10.0
SQLAlchemy==2.0.15
srsly==2.4.6
stability-sdk==0.8.1
stack-data==0.6.2
starlette==0.26.1
streamlit==1.22.0
streamlit-chat==0.1.1
sumy==0.11.0
sympy==1.12
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tensorflow==2.13.0rc0
tensorflow-estimator==2.13.0rc0
tensorflow-macos==2.13.0rc0
tensorstore==0.1.37
termcolor==2.3.0
thinc==8.1.10
threadpoolctl==3.5.0
tifffile==2024.9.20
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.4.1
torchvision==0.19.1
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.29.2
typer==0.7.0
typing-inspect==0.9.0
typing_extensions==4.10.0
tzdata==2023.3
tzlocal==5.0.1
uc-micro-py==1.0.3
urllib3==1.26.20
usellm==0.0.7
uvicorn==0.22.0
validators==0.20.0
Wand==0.6.11
wasabi==1.1.1
watchdog==3.0.0
wcwidth==0.2.6
weasel==0.3.4
webencodings==0.5.1
websockets==10.4
Werkzeug==2.3.4
wrapt==1.14.1
wsproto==1.2.0
xyzservices==2023.10.1
yarl==1.9.2
youtube-dl==2021.12.17
youtube-transcript-api==0.6.0
zipp==3.15.0
zope.interface==6.0
